<div className="App">
  <div className="container">
    <div className="logo">
      <i className="fab fa-ethereum"></i>
    </div>
     <p >{{message}}</p>
    <h2>{{balance/1000000000000000000}} <span className="eth">eth</span></h2>
    <div className="wallet__flex">
      <div className="walletG">
        <h3>Envoyer de l'ether</h3>
        <input type="text" #send placeholder="Montant en Ethers" (input)="changeAmountSend(send.value)" />
        <button (click)="transfer()" >Envoyer</button>
      </div>
      <div className="walletD">
        <h3>Retirer de l'ether</h3>
        <input type="text"  #amount placeholder="Montant en Ethers" (input)="changeAmountWithdraw(amount.value)" />
        <button (click)="withdraw()">Retirer</button>
      </div>
    </div>

  </div>
</div><router-outlet></router-outlet>
